---
layout: default
title : Homepage
navbar_title: Home
---

<div class="d-lg-none">
    <div class="row">
        <div class="col-12">
            {% include widgets/profile_card_mini.html %}
        </div>
        <div class="col-12">
            {% include widgets/profile_card_bio_only.html %}
        </div>
    </div>
</div>

<div class="d-none d-lg-block">
    {% include widgets/profile_card.html %}
</div>

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_leadership_services and site.data.profile.leadership_services %}
    {% include widgets/profile_section_card.html title="Leadership and Services" items=site.data.profile.leadership_services %}
{% endif %}

{% if site.data.display.homepage.show_courses_certification and site.data.profile.courses_certification %}
    {% include widgets/profile_section_card.html title="Courses and Certification" items=site.data.profile.courses_certification %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-star"></i> Recent Publications'
    %}
{% endif %}
