---
layout: default
title : Showcase
navbar_title: Showcase
container_class: container-xl
---

<div class="card border-0 shadow-sm bg-white mb-4">
    <div class="p-4">
        <h2>Welcome to Showcase</h2>
        <hr />
        <p class="mb-0">Collection of photos from city walks, travel, and everyday moments along the way.</p>
    </div>
</div>

{% assign cards_by_group = site.showcase | sort: "date" | reverse | where: "show", true | group_by_exp: "item", "item.group" %}

{% for group in cards_by_group %}
{% if group.name != "" %}
<h1>{{ group.name }}</h1>
{% endif %}
<div class="row grid mb-4">
    <div class="grid-sizer col-1"></div>
    {% for item in group.items %}
    <div class="p-2 grid-item {% if item.orientation == 'landscape' %}col-md-8 col-sm-12 col-12{% else %}col-md-4 col-sm-6 col-6{% endif %}">
        <div class="{% if item.class != null %}{{ item.class }}{% else %}card border-0 shadow-sm bg-white{% endif %}">
            {% if item.image %}
                {% include widgets/showcase_photo.html image=item.image caption=item.caption location=item.location orientation=item.orientation alt=item.alt %}
            {% else %}
                {{ item.content }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
